footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
}

.footerWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #000000b5;
  font-size: 0.6em;
  height: 4em;

  p {
    padding: 0 10px;
    @media (max-width: 375px) {
      padding: 0 2px;
    }
  }

  a {
    text-decoration: none;
    color: white;
    padding: 0 5px;
    @media (max-width: 375px) {
      padding: 0;
    }
  }

  span {
    font-weight: bold;
  }
}