.modalWrapper {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000b5;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background-color: #fff;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;

  h1 {
    margin-bottom: 20px;
    font-family: 'Open Sans', sans-seri;
    font-size: 1.5rem;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input {
    margin: 5px;
    padding: 5px 10px;
    outline: 0;
    border-width: 0 0 1px;
    border-color: dimgray;
    text-align: center;
  }
}

.has-error {
  border-bottom: 2px solid orange;
}

.formMsg {
  color: #3C3C3C;
  font-size: 12px;
  padding: 5px 0 0 10px;
}

.invalid {
  color: orange;
}

.valid {
  color: green;
}
