.navList {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2em;

  .navEl, .navLogo {
    cursor: pointer;
    padding: 0 20px;

    &:hover {
      text-shadow: 1px 1px grey;
    }

    &:active {
      box-shadow: 1px 1px grey;
    }
    @media (max-width: 1030px) {
      font-size: 0.9rem;
      padding: 0 20px;
    }
    @media (max-width: 425px) {
      font-size: 0.9rem;
      padding: 0 10px;
    }
    @media (max-width: 375px) {
      font-size: 0.9rem;
      padding: 0 5px;
    }

  }
}

.text-shadow-pop-top:hover {
  -webkit-animation: text-shadow-pop-top 0.6s both;
  animation: text-shadow-pop-top 0.6s both;
}

@-webkit-keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}

@keyframes text-shadow-pop-top {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    text-shadow: 0 -1px #555555, 0 -2px #555555, 0 -3px #555555, 0 -4px #555555, 0 -5px #555555, 0 -6px #555555, 0 -7px #555555, 0 -8px #555555;
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
}